.projects {
  width: 80rem;
  margin: 2rem 3rem 4rem 3rem;
  display: grid;
  grid-template-rows: 1fr 3fr;
  &__title {
    display: inline-block;
    margin: 2rem 3rem;
    font-size: 4rem;
    color: var(--grey-dark-1);
    animation: moveup 0.6s;
    visibility: hidden;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
  }

  &__cards {
    display: flex;
    overflow-x: scroll;
  }

  &__card {
    width: 20rem;
    margin: 0.3rem 0.5rem 0.3rem 3rem;
    border-radius: 0.4rem;
    img {
      height: 25rem;
      width: 20rem;
      border-radius: 0.4rem;
    }
    h2 {
      color: var(--grey-dark-1);
      font-size: 1.7rem;
    }
    p {
      color: var(--grey-dark-1);
    }

    &--1 {
      visibility: hidden;
      animation-name: fadein;
      animation-duration: 1.3s;
      animation-fill-mode: forwards;
      animation-delay: 0.7s;
    }

    &--2 {
      visibility: hidden;
      animation-name: fadein;
      animation-duration: 1.3s;
      animation-fill-mode: forwards;
      animation-delay: 1.1s;
    }

    &--3 {
      visibility: hidden;
      animation-name: fadein;
      animation-duration: 1.3s;
      animation-fill-mode: forwards;
      animation-delay: 1.5s;
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes moveup {
  from {
    opacity: 0;
    transform: translateY(2rem);
    visibility: hidden;
  }
  to {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}

@keyframes pulse {
  from {
    background-color: #001f3f;
  }
  to {
    background-color: #ff4136;
  }
}
