.welcome {
  display: inline-block;
  margin: 2rem 0 2rem 7rem;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 600;

  @media (max-width: 600px) {
    margin: 2rem 0 2rem 5rem;
  }

  @media (max-width: 400px) {
    margin: 2rem auto;
  }
}

////////////////////////////////////
// BAR

.welcome h1 {
  overflow: hidden;
  font-size: 4rem;
  // border-right: 0.15rem solid white;

  white-space: nowrap;
  // animation: typing 0.7s ease-in;

  @media (max-width: 600px) {
    font-size: 3rem;
  }

  @media (max-width: 400px) {
    font-size: 2.5rem;
  }
}
