.skills {
  width: 100%;
  margin: 1rem;

  h2 {
    margin: 2rem 5rem;
    margin-bottom: 1rem;
    display: block;
    font-size: 4rem;
    color: var(--grey-dark-1);
    visibility: hidden;
    animation: moveup 1s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    padding: 1rem 0;
  }

  &__container {
    margin: 0 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    justify-content: center;
  }
  &__skill {
    padding: 1.5rem;
    position: relative;
    transition: all 0.5s;

    &:hover {
      transform: scale(1.5);
    }

    &--1 {
      visibility: hidden;
      animation: moveup 1s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
      display: flex;
      justify-content: space-around;
    }

    &--2 {
      display: flex;
      justify-content: space-around;
      visibility: hidden;
      animation: moveup 1s;
      animation-delay: 1.3s;
      animation-fill-mode: forwards;
    }

    div {
      height: 2rem;
    }

    img {
      width: 50%;
      height: auto;
      border-radius: 50%;
      border-color: var(--grey-light-1);
      position: absolute;
      top: 4rem;
      left: 4rem;

      // @media (max-width: 1400px) {
      //   position: absolute;
      //   top: 3.5rem;
      //   left: 90rem;
      // }

      @media (min-width: 1250px) {
        width: 40%;
        height: auto;
        position: absolute;
        top: 4.1rem;
        left: 5.2rem;
      }
    }
  }
}

@keyframes moveup {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
