.skills {
  background-color: blue;
  width: 100%;
  margin: 1rem;

  h2 {
    background-color: pink;
    margin: 2rem 5rem;
    display: block;
    font-size: 4rem;
    color: var(--grey-dark-1);
    visibility: hidden;
    animation: moveup 1s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    padding: 2rem 0;
  }

  &__container {
    background-color: cyan;
    margin: 0 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    justify-content: center;
  }
  &__skill {
    padding: 1.5rem;
    position: relative;
    transition: all 0.5s;

    &:hover {
      transform: scale(1.5);
    }

    &--1 {
      visibility: hidden;
      animation: moveup 1s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
      display: flex;
      justify-content: space-around;
    }

    &--2 {
      display: flex;
      justify-content: space-around;
      visibility: hidden;
      animation: moveup 1s;
      animation-delay: 1.3s;
      animation-fill-mode: forwards;
    }

    img {
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      border-color: var(--grey-light-1);
      position: absolute;
      top: 3.5rem;
      left: 9.5rem;

      @media (max-width: 1400px) {
        position: absolute;
        top: 3.5rem;
        left: 13rem;
      }
    }
  }
}

@keyframes moveup {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
