////////////////////////////////////
// MAIN

.main {
  display: flex;

  &__left {
    width: 65%;
  }

  &__general {
    display: flex;
    flex-direction: row;
    margin: 2rem;
  }

  &__avatar {
    width: 35%;
    &--image {
      width: 12rem;
      height: 12rem;
      border-radius: 50%;
      margin: 4.5rem 0 3rem 5rem;
      border-color: white;
      box-shadow: 0 1rem 3rem rgba(black, 0.1);
    }
    animation: fadein 1s ease-in;
  }

  &__hash {
    font-size: 1.3rem;
    padding: 0.5rem 1.2rem;
    color: white;
    display: inline-block;
    border-radius: 3rem;
    margin: 0.4rem;
    box-shadow: 0 1rem 3rem rgba(black, 0.1);
    &--container {
      width: 65%;
      margin: 5rem 2rem 0 3rem;
    }

    &--1 {
      background-color: #fd79a8;
      animation: fadein 1.3s ease-in;
    }
    &--2 {
      background-color: #00cec9;
      animation: fadein 1.5s ease-in;
    }
    &--3 {
      background-color: #0984e3;
      animation: fadein 1.7s ease-in;
    }
    &--4 {
      background-color: #fab1a0;
      animation: fadein 1.9s ease-in;
    }
    &--5 {
      background-image: linear-gradient(to right bottom, #1e3c72, #2a5298);
      animation: fadein 2.1s ease-in;
    }
  }

  &__description {
    background-color: white;
    margin: 1rem 4rem 3rem 4rem;
    border-radius: 1.2rem;

    animation: fadein 1s ease-in;

    box-shadow: 0 1rem 3rem rgba(black, 0.1);
    font-weight: 500;
    &--text {
      display: inline-block;
      margin: 4rem;
      font-size: 1.5rem;
    }
  }

  &__center {
    width: 2px;
    height: 60%;
    align-self: center;
    background-color: var(--grey-light-4);
    display: block;
  }

  &__right {
    width: 35%;
  }

  &__timeline {
    border-radius: 1rem;
    height: 55vh;
    margin: 0 3rem;
    position: relative;
    display: flex;

    &__circle {
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 3rem;

      &--1 {
        position: absolute;
        top: 7rem;
        left: -0.35rem;
        background-color: #d63031;

        animation: moveup-large 0.5s ease-in;
      }

      &--2 {
        position: absolute;
        top: 19rem;
        left: -0.35rem;
        background-color: #e17055;

        animation: moveup-medium 0.8s ease-in;
      }

      &--3 {
        position: absolute;
        top: 31rem;
        left: -0.35rem;
        background-color: #fdcb6e;

        animation: moveup-small 1.1s ease-in;
      }
    }

    &--event {
      height: 10rem;
      width: 80%;
      border-radius: 1rem;
      box-shadow: 0 1rem 2rem rgba(black, 0.1);
      display: flex;

      h2 {
        position: absolute;
        top: 0.7rem;
        left: 2.5rem;
        font-size: 2.5rem;
        font-weight: 500;
      }

      p {
        position: absolute;
        top: 5rem;
        left: 2.5rem;
        font-size: 1.3rem;
      }

      &::before {
        content: '';
        height: 100%;
        width: 1rem;
        display: inline-block;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
      }

      &--1 {
        top: 3rem;
        left: 3rem;
        position: absolute;
        animation: fadein 1s ease-in;

        &::before {
          background-color: #d63031;
        }
      }
      &--2 {
        top: 15rem;
        left: 3rem;
        position: absolute;
        animation: fadein 1s ease-in;

        &::before {
          background-color: #e17055;
        }
      }
      &--3 {
        top: 27rem;
        left: 3rem;
        position: absolute;
        animation: fadein 1s ease-in;

        &::before {
          background-color: #fdcb6e;
        }
      }
    }
  }
  &__timeline::before {
    content: '';
    display: block;
    width: 0.8rem;
    background-color: var(--grey-dark-3);
    height: 100%;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveup-large {
  from {
    transform: translateY(15rem);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes moveup-medium {
  from {
    transform: translateY(10rem);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes moveup-small {
  from {
    transform: translateY(7rem);
  }
  to {
    transform: translateY(0);
  }
}
