.container {
  animation: frombottom 0.6s ease-in;
  max-width: 75vw;
  margin: 0 auto;
  background-color: var(--grey-light-1);
  box-shadow: var(--shadow);
  border-radius: 0.7rem;
  height: 63rem;
}

.content {
  display: flex;
  height: 61rem;

  // @media (max-width: 400px) {
  //   position: relative;
  //   top: 6rem;
  // }
}

@keyframes frombottom {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
