.container {
  animation: frombottom 0.6s ease-in;
  max-width: 75vw;
  min-width: 350px;
  height: 100%;
  margin: 0 auto;
  background-color: var(--grey-light-1);
  box-shadow: var(--shadow);
  border-radius: 0.7rem;
}

.content {
  display: flex;
  height: 65vh;
}

@keyframes frombottom {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
