.container {
  animation: frombottom 1s ease-in;
  max-width: 100rem;
  margin: 2rem auto;
  background-color: var(--grey-light-1);
  box-shadow: var(--shadow);
  min-height: 50rem;
  border-radius: 0.7rem;
}

.content {
  display: flex;
}

@keyframes frombottom {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
