@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,600,700,800&display=swap');

/*
COLORS

Primary: 
Primary light:
Primary dark:

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999
*/

:root {
  --grey-light-1: #faf9f9;
  --grey-light-2: #f4f2f2;
  --grey-light-3: #f0eeee;
  --grey-light-4: #ccc;

  --grey-dark-1: #333;
  --grey-dark-2: #777;
  --grey-dark-3: #999;

  --shadow: 0 2rem 6rem rgba(black, 0.8);
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    61deg,
    #ee5959,
    #bb3d3d,
    #e19a47,
    #bcbf43,
    #43bfbb,
    #4387bf,
    #5c43bf,
    #9843bf,
    #bf4394,
    #bf436e,
    #bf4343
  );
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 90vh;
  background: linear-gradient(
    61deg,
    #ee5959,
    #bb3d3d,
    #e19a47,
    #bcbf43,
    #43bfbb,
    #4387bf,
    #5c43bf,
    #9843bf,
    #bf4394,
    #bf436e,
    #bf4343
  );
  background-size: 2200% 2200%;

  animation: AnimationName 300s ease infinite;
}

@keyframes AnimationName {
  0% {
    background-position: 7% 0%;
  }
  50% {
    background-position: 94% 100%;
  }
  100% {
    background-position: 7% 0%;
  }
}
